@{
    Layout = null;
}
<script src="~/UI/jquery.min.js"></script>
<script src="~/UI/jquery.easyui.min.js"></script>
<script src="~/UI/locale/easyui-lang-zh_CN.js"></script>
<link href="~/UI/themes/icon.css" rel="stylesheet" />
<link href="~/UI/themes/default/easyui.css" rel="stylesheet" />


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/templatemo_main.css" rel="stylesheet" />
<script src="../../js/templatemo_script.js"></script>
<script src="~/js/templatemo_script.js"></script>

<html>
<head>
    <title></title>
</head>
<body>
     <script>
         $(function () {
             cx();
         })
         function cx() {
             $("#yh").datagrid({
                 url: "/zhongna/cyh?uname=" + $("#uname").val(),
                 pagination: true,
                 pageSize: 10,
                 pageList: [5, 10, 15, 20, 25, 30],
                 height: 600,
                 width: 1120,
                 method: "post",
                 fitColumns: true,
                 idField: "uid",
                 striped: true,
                 singleSelect: false,
                 rownumbers: true,
                 columns: [[
                      { field: 'ck', checkbox: true },
                    
                      { field: "uname", title: "用户姓名", width: 20, align: "center" },
                      { field: "uacount", title: "用户账号", width: 20, align: "center" },
                      { field: "upwd", title: "用户密码", width: 20, align: "center" },
                      { field: "uphone", title: "用户电话", width: 20, align: "center" },
                      { field: "img", title: "用户图片", width: 20, align: "center" },
                      { field: "dname", title: "专家", width: 20, align: "center" },
                    
                      {
                          field: 'otname', title: '状态', width: 20, align: 'center',
                          styler: function (otname) {
                              if (otname == "待审核") {
                                  return 'color:red;';
                              }
                          }
                      },

                    

                 ]],
                 toolbar: '#tl',


             })

         }

</script>

    <div id="main-wrapper">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <div class="logo">
                    <a href="~/mingpiao/shouye">
                        <h1>Dental Health</h1>
                    </a>
                    <p style="margin-left: 1000px; margin-top: -22px; color: white">
                        欢迎 @ViewBag.mm 来到Dental Health后台中心！
                    </p>
                </div>
            </div>
        </div>
        <div class="template-page-wrapper">
            <div class="navbar-collapse collapse templatemo-sidebar">
                <ul class="templatemo-sidebar-menu">
                    <li class="sub open">
                        <a href="javascript:;">
                            <i class="fa fa-table"></i>用户管理
                            <div class="pull-right"><span class="caret"></span></div>
                        </a>
                        <ul class="templatemo-submenu">


                            <li><a href="~/zhongna/guanliyuan">用户列表</a></li>

                        </ul>
                    </li>
                    <li class="sub open">
                        <a href="javascript:;">
                            <i class="fa fa-user"></i>管理员管理
                            <div class="pull-right"><span class="caret"></span></div>
                        </a>
                        <ul class="templatemo-submenu">
                          <li><a href="~/zhongna/guanliyuan2">管理员列表</a></li>

                        </ul>
                    </li>
                    <li class="sub open">
                        <a href="javascript:;">
                            <i class="fa fa-toggle-left"></i>新闻管理
                            <div class="pull-right"><span class="caret"></span></div>
                        </a>
                        <ul class="templatemo-submenu">
                            <li><a href="~/zhongna/xinwen">新闻列表</a></li>

                        </ul>
                    </li>
                    <li class="sub open">
                        <a href="javascript:;">
                            <i class="fa fa-eye"></i>测试管理
                            <div class="pull-right"><span class="caret"></span></div>
                        </a>
                        <ul class="templatemo-submenu">
                            <li><a href="~/zhongna/ceshi">测试列表</a></li>

                        </ul>
                    </li>

                    <li class="sub open">
                        <a href="javascript:;">
                            <i class="fa fa-star-half-full"></i>专家管理
                            <div class="pull-right"><span class="caret"></span></div>
                        </a>
                        <ul class="templatemo-submenu">
                            <li><a href="~/zhongna/zhuanjia">专家列表</a></li>


                        </ul>
                    </li>
                    <li class="sub open">
                        <a href="javascript:;">
                            <i class="fa fa-pencil"></i>留言管理
                            <div class="pull-right"><span class="caret"></span></div>
                        </a>
                        <ul class="templatemo-submenu">


                            <li><a href="~/zhongna/liuyan">留言列表</a></li>

                        </ul>
                    </li>
                    <li class="sub open">
                        <a href="javascript:;">
                            <i class="fa fa-table"></i>成功案例
                            <div class="pull-right"><span class="caret"></span></div>
                        </a>
                        <ul class="templatemo-submenu">


                            <li><a href="~/zhongna/Success">成功案例列表</a></li>

                        </ul>
                    </li>
                    <li class="sub open">
                        <a href="javascript:;">
                              <i class="fa fa-star-half-full"></i>项目管理
                            <div class="pull-right"><span class="caret"></span></div>
                        </a>
                        <ul class="templatemo-submenu">


                            <li><a href="~/zhongna/xiangmu">项目列表</a></li>

                        </ul>
                    </li>

                    <li><a href="~/zhongli/login"><i class="fa fa-sign-out"></i>退出</a></li>

                </ul>
            </div>
            <div class="templatemo-content-wrapper">
                <div class="templatemo-content">


                    <div class="row">
                         <div id="tl">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
             用户姓名：
            @Html.TextBox("uname")<input id="Submit1" type="submit" value="查询"  onclick="cx()"/>
               
              </div>
            <table id="yh">
            
            </table>
                    </div>
                </div>
            </div>
            <footer class="templatemo-footer">
                <div class="templatemo-copyright">
                    <p>Copyright &copy; 2016 武汉船舶职业技术学院 <a href="#">无需等待，马上行动！</a> - Dental Health <a href="#">口腔健康之家</a></p>
                </div>
            </footer>
        </div>
    </div>


</body>
</html>

